<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<!-- <ion-content padding>
  <ion-button (click)="login()">Login!</ion-button>
  <ion-button (click)="logout()">Logout!</ion-button>
  Logged In?
</ion-content> -->

<ion-content padding>
  <amplify-authenticator framework="ionic"></amplify-authenticator>
</ion-content>